<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="usuarioBaseDatos" value="MYDEALER"/>
    <!-- usuario de la base de datos SAP -->
    <add key="passwordBaseDatos" value="TQZzSrN2"/>
    <!-- clave de acceso a la base de datos SAP  -->
    <add key="usuarioSAP" value="mydealer"/>
    <!-- usuario sap -->
    <add key="passwordSAP" value="sap@2026"/>
    <!-- clave de usuario sap -->
    <add key="nombreBaseDatos" value="DB_PRINTEGRALES"/>
    <!-- nombre de la base de datos SAP -->
    <add key="ipBaseDatos" value="NDB@172.31.34.244"/>
    <!-- ip de la base de datos SAP -->
    <add key="puertoBaseDatos" value="30013"/>
    <!-- puerto de la base de datos SAP -->
    <add key="ipServidorLicencia" value="172.31.34.244"/>
    <!-- ip de la base de datos SAP -->
    <add key="puertoServidorLicencia" value="40000"/>
    <!-- puerto del servidor de licencias -->
    <add key="tipoBaseDatos" value="mssql_2019"/>
    <!-- tipo de base de datos (ver tipos definidos en la documentacion sap -->
    <add key="separadorDecimal" value="P"/>
    <!-- (P|C) Separador decimal para conversiones numericas, si es P, todas las comas se reemplazan por punto -->
    <add key="paisSistema" value="EC"/>
    <!-- (EC|CL) Pais, define comportamientos especiales -->
    <add key="aprobacion" value="true"/>
    <!-- (true|false) Aprobacion, indica si deben enviarse o no parametros de aprobacion de pedidos a SAP -->
    <add key="serieRetencion" value="0"/>
    <!-- La serie utilizada para las retenciones (usada en cobranzas para la forma de pago retencion -->
    <add key="glosaNotaCredito" value="DESCUENTO EN VENTAS GOLDEN BEAR"/>
    <add key="cuetaNotaCredito" value="101010100000000"/>
    <add key="cuetaNotaAnticipoCobranza" value="_SYS00000001497"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8"/>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>